

/*
body {
	background-image: url("../images/background.png");
}


.box1, .box2, .box3, .box4, .box5{
	height: 200px;
	width: 200px;

}

.box1 {
	background-image: url("../images/box1.jpg");
	background-size: cover;
}
.box2 {
	background-image: url("../images/box2.jpg");
	background-size: cover;
}
.box3 {
	background-image: url("../images/box3.jpg");
	background-size: cover;
}
.box4 {
	background-image: url("../images/box4.jpg");
	background-size: cover;
}
.box5 {
	background-image: url("../images/box5.jpg");
	background-size: cover;
}









.footer {
	background: #666666;
	text-align: center;
	padding: 10px;
	margin: 5px 0 0 0;
}

.sidebar {

}

*/